:root {
  --background: #f8f8f8;
  --foreground: #373c42;
  --primary: #2f5fac;
  --primary-foreground: #f8f8f8;
  --secondary: #636c78;
  --secondary-foreground: #f8f8f8;
  --accent: #d6dde2;
  --accent-foreground: #060607;
  --border: #c7d1df;
  --ring: #2f5fac;
  --skeleton-light: #e3e8ee;
  --skeleton-dark: #d0d7df;
  --skeleton-highlight: #f4f7fa;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #11262e;
    --foreground: #e0e6ea;
    --primary: #268bd2;
    --primary-foreground: #11262e;
    --secondary: #2aa198;
    --secondary-foreground: #11262e;
    --accent: #34445c;
    --accent-foreground: #f7f9fb;
    --border: #c7d1df;
    --ring: #268bd2;
    --skeleton-light: #4a4f54;
    --skeleton-dark: #3a3f44;
    --skeleton-highlight: #5a5f64;
  }
}

html,
body {
  max-width: 100vw;
}

body {
  font-family: var(--noto-sans-jp), Arial, Helvetica, sans-serif;
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:where(:focus-visible) {
  --ring-offset: 0.25rem;

  outline: none;
  outline-offset: 0;
  box-shadow:
    0 0 0 var(--ring-offset) var(--background),
    0 0 0 calc(0.25rem + var(--ring-offset)) var(--ring);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
